.slider-index form ul {
  list-style: none;
}
.slider-index form ul li section {
  margin-bottom: 10px;
  width: 650px;
  height: 130px;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0.1));
}
.slider-index form ul li section .image {
  width: 155px;
  height: 110px;
  line-height: 110px;
  margin: 0 10px;
  float: left;
  overflow: hidden;
}
.slider-index form ul li section .image label {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #d3d3d3;
  display: block;
  width: 155px;
  height: 75px;
  position: relative;
  background: url("../images/nophoto.png");
  cursor: pointer;
}
.slider-index form ul li section .image label:hover:after {
  content: '+';
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #389cf0;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin-top: -25px;
  margin-left: -25px;
  color: white;
  text-align: center;
  border-radius: 50%;
  line-height: 45px;
  opacity: .8;
}
.slider-index form ul li section .image label input {
  opacity: 0;
}
.slider-index form ul li section .labels {
  width: 450px;
  float: left;
}
.slider-index form ul li section .labels label {
  float: left;
  width: 200px;
  display: block;
  margin: 0px 10px;
  line-height: 30px;
}
.slider-index form ul li section .labels label input {
  float: right;
  line-height: 10px;
  width: 150;
  height: 25px;
}
.slider-index form ul li section .labels button {
  float: left;
  margin-right: 20px;
  margin-top: 25px;
}
