/*Filters*/

.filter{

}

.filter h4{
    margin: 0;
    padding: 0;

}

.filter input{
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 10px;
}

.filter-value {
    float: left;
    max-width: 133px;
    text-align: left;
}

/*//Filters*/